[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
flake8 = "*"
pre-commit = "*"

[packages]
django = "*"
psycopg2-binary = "*"
psycopg2 = "*"
pillow = "*"
selenium = "*"
django-webpack-loader = "*"
django-extensions = "*"
pydotplus = "*"
ipython = "*"
werkzeug = "*"
factory-boy = "*"
django-debug-toolbar = "*"
django-tables2 = "*"
django-filter = "*"

[requires]
python_version = "3.7"

[scripts]
dev = "./manage.py runserver_plus"
test = "./manage.py test"
makemigrations = "./manage.py makemigrations"
migrate = "./manage.py migrate"
erd = "./manage.py graph_models -a -o booktime_models.png"
